body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("imagens/fundo.png");
  background-repeat: repeat;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2); /* sombra profissional */
}

h1 {
  text-align: center;
  color: #0f172a;
}

h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

p {
  color: #334155;
  text-align: center;
}

hr {
  margin: 20px 0;
}