body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("imagens/fundo.png");
  background-size: cover;        /* cobre toda a tela */
  background-position: center;   /* centraliza */
  background-repeat: repeat;  /* repete a imagem */
}

.container {
  background: rgba(255, 255, 255, 0.95); /* leve transparência */
  backdrop-filter: blur(5px); /* efeito vidro (moderno) */
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #0f172a;
}

h2 {
  color: #1d4ed8;
}

p {
  color: #334155;
  text-align: center;
}

hr {
  margin: 20px 0;
}